.agreement {
	.ant-tabs-bar {
		margin: 0 0 -1px 0;
	}
	&--error {
        border: 1px solid red;
        padding: 4px;
        border-radius: 3px;
    }
    .ant-select-selection,
    .ant-input {
        border-color: #d9d9d9 !important;
        box-shadow: none !important;

        &:hover {
            border-color: #d9d9d9 !important;
            box-shadow: none !important;
        }
    }
}
